/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
.main-toolbar{
  display: flex;
}
.main-menu{
  margin-left: auto;
  padding: 0;
  border: none;
  background: none;
}
.main-footer{
  text-align:center;
}
